 

  <br>
  <div class="row"> 
    <div class="col-auto mb-6" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div class="col-auto mb-6" ><marquee>  <h2 style="color: brown;">Cloth Donation</h2>
    </marquee></div>
    <div class="col-auto mb-6" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></div>
  
  
  <div id="maindiv" align="center" class="card" style="width: 80rem; height: 80rem; position:absolute" >
    <div class="row"> 
        <div class="col-auto mb-3">
          <div class="card" style="width: 12rem; height: 22rem;">
            <img class="card-img-top" src="../../../assets/men.jpg"  height="150" width="20" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Male</h5>
              <div align="center" style="margin-top:10%;">
                <circle-progress [percent]="70"  [space]="-10" [radius]="50" [outerStrokeWidth]="8"
                  [innerStrokeWidth]="10" [outerStrokeColor]="'#488772c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                  [animationDuration]="1000"></circle-progress>
              </div>
            </div>
          </div>  
        </div>

        <div class="col-auto mb-3">
          <div class="card" style="width: 12rem; height: 22rem;">
            <img class="card-img-top" src="../../../assets/women.jpg" height="150" width="20" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Female</h5>
              <div align="center" style="margin-top:10%;">
                <circle-progress [percent]="70"  [space]="-10" [radius]="50" [outerStrokeWidth]="8"
                  [innerStrokeWidth]="10" [outerStrokeColor]="'#488772c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                  [animationDuration]="1000"></circle-progress>
              </div>
            </div>
          </div>  
        </div>

        <div class="col-auto mb-3">
          <div class="card" style="width: 12rem; height: 22rem;">
            <img class="card-img-top" src="../../../assets/children.jpg"  height="150" width="20" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Children</h5>
              <div align="center" style="margin-top:10%;">
                <circle-progress [percent]="70"  [space]="-10" [radius]="50" [outerStrokeWidth]="8"
                  [innerStrokeWidth]="10" [outerStrokeColor]="'#488772c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                  [animationDuration]="1000"></circle-progress>
              </div>
            </div>
          </div>  
        </div>


        <div class="col-auto mb-3">
          <div class="card" style="width: 12rem; height: 22rem;">
            <img class="card-img-top" src="../../../assets/blankets.jpg"  height="150" width="20" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Blankets</h5>
              <div align="center" style="margin-top:10%;">
                <circle-progress [percent]="70"  [space]="-10" [radius]="50" [outerStrokeWidth]="8"
                  [innerStrokeWidth]="10" [outerStrokeColor]="'#488772c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                  [animationDuration]="1000"></circle-progress>
              </div>
            </div>
          </div>  
        </div>

        <div class="col-auto mb-3">
          <div class="card" style="width: 12rem; height: 22rem;">
            <img class="card-img-top" src="../../../assets/othercloths.jpg"  height="150" width="20" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Other</h5>
              <div align="center" style="margin-top:10%;">
                <circle-progress [percent]="70"  [space]="-10" [radius]="50" [outerStrokeWidth]="8"
                  [innerStrokeWidth]="10" [outerStrokeColor]="'#488772c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                  [animationDuration]="1000"></circle-progress>
              </div>
            </div>
          </div>  
        </div>
                  <br><br><br><br>
</div>

<hr>
<img src="../../../assets/cloths1.jpg" width="60%" height="34%" ><br>
<h4 style="text-align: justify;">The Winter season is here. While it's another season for us, for little children in slums and streets, its misery. We have quilts and blankets, and sweaters to stay warm.  It's not the case for many. The homeless, especially the children, suffer through the bitter cold, sleeping on the streets, without any blankets or sweaters, fall ill, and sometimes die during these months. 
      </h4><br><br><br><br>






  
      <div class="card" style="width: 70rem;height:40rem;">
        <br><br>
              <div class="row">   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="col"><h5 align="left">  
                   Add products to cart and proceed to donate. Select your "category" and complete the dobation.We have a secured  gateway that allows you to donate through a our website.<br>
                </h5>
        
                  </div>
        
                <!-- <div class="col-auto mb-6">
                  <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" 
                    aria-haspopup="true" aria-expanded="false">
                      Action
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">44Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                  </div>
                </div> -->
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   
        
                
        
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
                <div class="col"><br><br><button class="btn btn-info btn-block" align="center" routerLink="/signup"
                  routerLinkActive="active">DONATE</button>
                </div>
              
              </div>
        
        
        
        
              </div>
        
        
            </div>
        
            
        
        
        
        
