<body style="background-color: rgb(226, 222, 228);">
<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/slide1.jpg" height="500" width="100%" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>Your healing begins with charity.
      </h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/slide2.webp" height="500" width="100%" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Action speaks much louder than words actually.
      </h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/slide3.webp" height="500" width="100%" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Participate in changing the world.
      </h3>
    </div>
  </ng-template>
</ngb-carousel>




<div class="blink"><span>Small charities can bring bigger impacts...PLEASE DONATE
</span></div>
<br> 

<div class="container" id="imgcontainer" >

<!-- <div class="card"  id="card1"  style="height: 10rem; width:70rem; background-color: rgb(245, 241, 9);" > -->
  <div class="row"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="col" ><img src="../../../assets/cart1.jpg" style="width: 80px; height: 80px;" id="i1"><br><br><b>Products Raised</b>

</div> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col" ><img src="../../../assets/ngo.png" style="width: 100px; height: 80px;" id="i1"><br><br><b>NGOs Impacted</b>


      </div> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col" ><img src="../../../assets/ppl.webp" style="width: 80px; height: 80px;" id="i1"><br><br><b>Unique Donors</b>


      </div> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col" ><img src="../../../assets/user.jpg" style="width: 80px; height: 80px;" id="i1"><br><br><b>Worth Donations</b>
      </div>
    </div>
    </div>

<br>
<div class="container" >


<div class="row"> 
  <div class="col-xs-6" id="c">
    <div class="card" style="width: 35rem; height: 27rem; background-color: rgb(21, 162, 180);" >
      <img src="../assets/food2.webp" class="card-img-top" alt="..." height="200" width="30">
      <div class="card-body">
        <h5 class="card-title"><b>Donate Food</b> </h5><br>
        <p class="card-text">Give Someone a Meal, Their Hunger Is Real.<br>Alone we can do so little,together we can do so much</p>
           <br>  <a routerLink="/food" routerLinkActive="active" class="btn btn-dark">Explore</a>

      </div>
    </div>
  </div>
  
  <div class="col-xs-6" id="card2">
    <div class="card" style="width: 35rem; height: 27rem;  background-color: rgb(21, 162, 180);">
      <img src="../assets/clothes.jpg" class="card-img-top" alt="..." height="200" width="30">
      <div class="card-body">
        <h5 class="card-title"> <b>Donate Clothes</b></h5><br>
        <p class="card-text">This Winter,Save the poors from biting cold.</p><br><br>
        <a routerLink="/clothes" routerLinkActive="active" class="btn btn-dark">Explore</a>
      </div>
    </div>
  </div>
</div>


</div>

<br>




<div class="container" >


  <div class="row"> 
    <div class="col-xs-12" id="c">
      <div class="card" style="width: 35rem; height: 27rem;   background-color: rgb(21, 162, 180);" routerLink="/food" routerLinkActive="active">
        <img src="../../../assets/board.jpg" class="card-img-top" alt="..." height="200" width="30">
        <div class="card-body">
          <h5 class="card-title"><b>Donate Study Material</b> </h5><br>
          <p class="card-text">Giving is not just about making a Donation,it is about making a difference..<br>Alone we can do so little,together we can do so much</p>
             <br>  <a routerLink="/study" routerLinkActive="active" class="btn btn-dark">Explore</a>
  
        </div>
      </div>
    </div>
    
    <div class="col-xs-6" id="card2">
      <div class="card" style="width: 35rem; height: 27rem;   background-color: rgb(21, 162, 180);" 
       routerLink="/clothes" routerLinkActive="active">
        <img src="../../../assets/random.jpg" class="card-img-top" alt="..." height="200" width="30">
        <div class="card-body">
          <h5 class="card-title"> <b>Donate Other things</b></h5><br>
          <p class="card-text">Charity is not only a name to give money, help to others in different styles.
          </p><br><br>
          <a routerLink="/random-donation" routerLinkActive="active" class="btn btn-dark">Explore</a>
        </div>
      </div>
    </div>
  </div>
  
  
  </div> 
  
</body>

