 

  <br>
  <div class="row"> 
    <div class="col-auto mb-6" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div class="col-auto mb-6" ><marquee>  <h2 style="color: brown;">Study Material Donation</h2>
    </marquee></div>
    <div class="col-auto mb-6" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></div>





  
  
    <div id="maindiv" align="center" class="card" style="width: 80rem; height: 80rem; position:absolute" >
      <div class="row"> 
          <div class="col-auto mb-3">
            <div class="card" style="width: 12rem; height: 22rem;">
              <img class="card-img-top" src="../../../assets/book.jpg"  height="150" width="20" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Books</h5>
                <div align="center" style="margin-top:10%;">
                  <circle-progress [percent]="70"  [space]="-10" [radius]="50" [outerStrokeWidth]="8"
                    [innerStrokeWidth]="10" [outerStrokeColor]="'#488772c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                    [animationDuration]="1000"></circle-progress>
                </div>
              </div>
            </div>  
          </div>
  
          <div class="col-auto mb-3">
            <div class="card" style="width: 12rem; height: 22rem;">
              <img class="card-img-top" src="../../../assets/study.jpg" height="150" width="20" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Notebooks</h5>
                <div align="center" style="margin-top:10%;">
                  <circle-progress [percent]="70"  [space]="-10" [radius]="50" [outerStrokeWidth]="8"
                    [innerStrokeWidth]="10" [outerStrokeColor]="'#488772c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                    [animationDuration]="1000"></circle-progress>
                </div>
              </div>
            </div>  
          </div>
  
          <div class="col-auto mb-3">
            <div class="card" style="width: 12rem; height: 22rem;">
              <img class="card-img-top" src="../../../assets/study1.jpg"  height="150" width="20" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">pens</h5>
                <div align="center" style="margin-top:10%;">
                  <circle-progress [percent]="70"  [space]="-10" [radius]="50" [outerStrokeWidth]="8"
                    [innerStrokeWidth]="10" [outerStrokeColor]="'#488772c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                    [animationDuration]="1000"></circle-progress>
                </div>
              </div>
            </div>  
          </div>
  
  
          <div class="col-auto mb-3">
            <div class="card" style="width: 12rem; height: 22rem;">
              <img class="card-img-top" src="../../../assets/bags.jpg"  height="150" width="20" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Bags</h5>
                <div align="center" style="margin-top:10%;">
                  <circle-progress [percent]="70"  [space]="-10" [radius]="50" [outerStrokeWidth]="8"
                    [innerStrokeWidth]="10" [outerStrokeColor]="'#488772c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                    [animationDuration]="1000"></circle-progress>
                </div>
              </div>
            </div>  
          </div>
  
          <div class="col-auto mb-3">
            <div class="card" style="width: 12rem; height: 22rem;">
              <img class="card-img-top" src="../../../assets/otherstudy.jpg"  height="150" width="20" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Other</h5>
                <div align="center" style="margin-top:10%;">
                  <circle-progress [percent]="70"  [space]="-10" [radius]="50" [outerStrokeWidth]="8"
                    [innerStrokeWidth]="10" [outerStrokeColor]="'#488772c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                    [animationDuration]="1000"></circle-progress>
                </div>
              </div>
            </div>  
          </div>
                    <br><br><br><br>
  </div>
  
  <hr>
  <img src="../../../assets/board.jpg" width="64%" height="25%" ><br>
  <h4 style="text-align: justify;">The pandemic has been a difficult time for everyone. 
      It also took a huge toll on those people who strive every day to make a change in society.
      Children affected by cancer , thalassemia , HIV loose more than their health, they lose their childhoods too. Instead of playing with their friends, they are confined to hospitals and rounds of exhausting treatments. Their families are mired in anxiety, often resulting in financial problems and endless travel for good medical care. 
  
      Many of these children come from families in which the parents have a meagre income. 
        </h4><br><br><br><br>
  
  
  
  
        <div class="card" style="width: 70rem;height:40rem;">
          <br><br>
                <div class="row">   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <div class="col"><h5 align="left">  
                     Add products to cart and proceed to donate. Select your "category" and complete the dobation.We have a secured  gateway that allows you to donate through a our website.<br>
                  </h5>
          
                    </div>
          
                  <!-- <div class="col-auto mb-6">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" 
                      aria-haspopup="true" aria-expanded="false">
                        Action
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">44Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                  </div> -->
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     
          
                  
          
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
                  <div class="col"><br><br><button class="btn btn-info btn-block" align="center" routerLink="/signup"
                    routerLinkActive="active">DONATE</button>
                  </div>
                
                </div>
          
          
          
          
                </div>
          
          
              </div>
          
              
          
          
          
          
      
  
  
  
  
  
  
  
  
  